
C:\Users\ooosh\Desktop\classprojects\RealClassProjects\Git\projectsAdvancedJavaScript\node3\node_modules
C:\Users\ooosh\Desktop\classprojects\RealClassProjects\Git\projectsAdvancedJavaScript\cardsServer\node_modules\@types\node\ts4.8\trace_events.d.ts

/node_modules/
*.md

*node_modules


*.mp4