

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.addTaskContainer,.tasksContainer {

    display: flex;

    width: fit-content;
    
    margin: 0 auto;

    background-color: orangered;

    padding: 10px;

    border: black  2px solid ;

    border-radius: 50px;

}


.addTaskContainer{
    justify-content: center;  
    align-items: center;  
    margin-top: 20px;
    height: 70px;
    
  

}

.taskInfo input,.addTaskContainer button{

height: 40px;
margin-right: 2px;
border-radius: 3px;
border: black  1px solid ;
padding: 5px;


}


.taskInfo{
    display: none;
    font-size: 0;
    

}




.tasksContainer {

    flex-direction: column;

    width: 400px;

}

.task{

    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 15px;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 50px;
    
}

.task h4 {

    margin-right: 15px;
    align-self: center;
    text-align: center;


}

.task button{
    height: 40px;
    width: 60px;
    vertical-align: middle;
    

}

.task input[type="text"] ,.task input[type="date"] {

    width: 100px;
    height: 40px;
    margin-right: 2px;
}


.deleteButton:hover{

    color: red;


}

.statusButton {

    font-size: 1.6rem;
    text-align: center;


}