*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#navBAr{
    height: 20vh;
    width: 100vw;
    background-color:aquamarine;
    position: fixed;
    border: none;
}

div{
    display: flex;
border:10px groove yellow;
    height: 100vh;
    width: 100vw;
    background-color: blue;

}

div div{
    align-self: flex-end;
    height: 80vh;
    background-color: cadetblue;

}