.gameContainer{
    border: orange solid 3px ;
    display: grid;
    grid-template-columns:repeat(10,9.9vw) ;
    grid-template-rows:repeat(10,8vh) ;
    width: 99vw;
    height: 92vh;
    

}


.car{
    width: 90%;
    margin: auto;

}



.bomb{
    
    width: 60%;
    margin: auto;
    
}



.target{
    width: 60%;
    margin: auto;
}