.gameContainer{

    display: grid;
    grid-template-columns:repeat(10,1fr) ;
    grid-template-rows:repeat(10,1fr) ;
    width: 98vw;
    height: 98vh;

}




.car{
    width: 10vw;

}



.bomb{
    width: 10vh;
    
}



.target{
 width: 10vh;
}