.gameContainer{

    display: grid;
    grid-template-columns:repeat(10,8vw) ;
    grid-template-rows:repeat(10,8vh) ;
    width: 80vw;
    height: 80vh;

}


.car{
    width: 90%;

}



.bomb{
    width: 90%;
    
}



.target{
    width: 90%;
}